* {
  /* background-color: #bbdefb; */
  color-scheme: dark;

  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --primary: #0d47a1;
  --onHover: #42a5f5;
  --secondary: #002051;
  --card: #153084;
}
/* :root {
  --primary-color: #0d47a1;
  --secondary: #42a5f5;
  --font-color: #424242;
  --bg-color: #fff;
  --heading-color: #292922;
} */

/* [data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
} */

body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  color: white;
  background-color: var(--primary);
}

.main {
  margin: 0 4em;
}

/* header */
.header {
  z-index: 100;
  padding: 0 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: var(--primary);
  width: 100%;
}
.header .header__nav {
  display: flex;
  align-items: center;
}

.header .header__nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: white;
}
.header .header__nav ul li:not(:last-child) {
  margin: 0 1em;
  padding: 0 1em;
}

.header .header__nav ul li:last-child {
  margin-left: 1em;
  padding-left: 1em;
}

.header .header__nav ul li:hover {
  color: var(--onHover);
  cursor: pointer;
  transition: all ease-in-out 0.1s;
}
.header .header__nav ul li a {
  color: inherit;
  text-decoration: none;
}

.header .header__logo {
  color: white;
  cursor: pointer;
}

.theme__toggler {
  width: 60px;
  height: 20px;
  background-color: var(--card);
  margin-left: 20px;
  border-radius: 30px;
}
/* header typography */

/* hero section */
.hero {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  /* padding-bottom: 10em; */
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.hero img {
  width: 30%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hero .hero__intro {
  display: flex;
  flex: 2;
  margin-left: 8rem;
  flex-direction: column;
  justify-content: center;
}

/* hero typography */
.hero .hero__intro h1 {
  /* font-weight: bold; */
  font-weight: 300;
  font-size: 60px;
}

.hero .hero__intro h1 .hello {
  font-weight: 100;
}

.hero__intro--name {
  font-weight: 700;
  color: var(--secondary);
}

.hero .hero__intro > p {
  font-size: 18px;
  line-height: 40px;
  font-weight: 400;
}

.highlight {
  color: var(--secondary);
  font-weight: bold;
  font-size: 18px;
}

/* about section */
.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: baseline;
  padding: 5em 0;
}

.about .about__title {
  font-weight: bold;
  font-size: 3rem;
}

.about .about__description {
  width: 50vw;
  line-height: 30px;
}

.education {
  display: flex;
  flex-direction: column;
}

.education .education__cards .card {
  background-color: var(--card);
  margin-right: 3em;
  width: 300px;
  height: 300px;
  /* background-color: var(--secondary); */
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  border-radius: 20px;
  /* align-items: center; */
  position: relative;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.16) 10px 4px 4px;
}

.education .education__cards {
  display: flex;
}

.education__heading {
  font-weight: bold;
  font-size: 2rem;
}

.education__cards .card h3 {
  font-size: 1.3rem;
}

/* contact section  */

.contact {
  width: 40vw;
  height: 100%;
  margin: 5rem 0;
}

.contact .contact__form {
  display: flex;
  flex-direction: column;
}

.contact .contact__title {
  font-size: 3rem;
}

.contact .contact__form .contact__form--buttons {
  align-self: flex-end;
  display: flex;
}

.alert {
  border: solid 1px red !important;
}

.contact .contact__form .contact__form--inputs div > .input {
  padding: 2rem;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
}

.contact .contact__form .contact__form--inputs div > input:focus {
  border: none;
  outline: none;
}

textarea {
}

.contact .contact__form .contact__form--inputs div > label {
  margin-left: 0.5rem;
}

.button {
}

/* buttons style */
.btn {
  padding: 1rem 3rem;
  margin-left: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: var(--card);
}

::placeholder {
  color: var(--primary);
  font-family: "Roboto Mono", monospace;
}

.send {
}
.clear {
}

/* footer style */

.footer {
  background-color: var(--card);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer ul {
  padding: 3rem 0;

  margin: 0;
  display: flex;
}

.footer ul li {
  list-style: none;
  padding: 0 1rem;
}

.footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 40 20px;
}

.footer__paragraph {
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.erorr {
  border: solid 2px red !important;
}

.success {
  color: green !important;
}

.notification {
  align-self: flex-end;
  margin: 2rem 0;
  color: red;
  font-weight: bold;
  font-size: 20px;
}
